.userForm{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.userInput{
    font-family: 'Roboto';
    font-size: 1rem;
    color: #2E2E2E;
    background-color: var(--cor-1);
    border: 1px solid var(--cor-2);
    padding: 14px 10px;
    border-radius: 3px 0px 0px 3px;
    width: 80%;
    box-sizing: border-box;
}

.userInput:focus{
    outline: none;
    background-color: var(--cor-0);
    border: 1px solid var(--cor-1);
}

.userButton {
    padding: 12px;
    width: 20%;
    border-radius: 0px 3px 3px 0px;
    background-color: var(--cor-10);
    color: var(--cor-1);
    font-size: 1.25rem;
    border: none;
    cursor: pointer;
}

.userButton:hover{
    background-color: var(--cor-9);
}

ul{
    align-self: center;
}

li{
    list-style: none;
    width: 500px;
    padding: 14px;
    background-color: var(--cor-10);
    border-radius: 3px;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
}

li:nth-child(even) {
    background: var(--cor-0);
    color: var(--cor-10);
}

li a{
    font-size: 1rem;
    font-family: 'Roboto';
    color: var(--cor-1);
    text-decoration: none;
}

  
li:nth-child(even) a {
    color: var(--cor-10);
}

li a:hover{
    color: var(--cor-3);
}

  
li:nth-child(even) a:hover {
    color: var(--cor-8);
}

li span {
  border-color: var(--cor-0);
  border-style: solid;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  height: 14px;
  width: 7px;  
  cursor: pointer;
}
  
li span:hover {
    border-color: var(--cor-3);
}
  
li:nth-child(even) span {
    border-color: var(--cor-10);
}

li:nth-child(even) span:hover {
    border-color: var(--cor-7);
}


